.alcho
  padding-bottom: 50px
  padding-top: 20px

  &__title
    color: $red
    font-size: 30px
    text-align: center
    +Bold

  &-block
    display: flex
    justify-content: center
    align-items: center
    width: 100%

  &__text
    color: $dark
    font-size: 24px
    max-width: 80%
    +Reg  

  &__blue
    color: $blue
    +Bold  
