.hospital
  padding-bottom: 50px
  padding-top: 20px
  background: url('../img/hospital/bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top left

  &__title
    color: #fff
    font-size: 30px
    text-align: center
    +Bold

  &__item
    width: 700px
    height: 500px
    border-radius: 8px
    outline: none   

  &-block
    display: flex
    align-items: center
    justify-content: center
    position: relative

  &-container
    width: 700px
    height: 500px

  &-arrows
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    width: 70%

  &__arrow
    width: 60px
    height: 60px
    display: flex
    align-items: center
    justify-content: center  

  &__prev, &__next
    position: relative
    width: 40px
    height: 2px
    background-color: #fff
    transform: rotate(-45deg)
    transition: .2s
    &::after
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 100%
      background-color: #fff
      transform: rotate(90deg)
      transition: .2s
      top: 20px
      left: -20px

  &__next
    transform: rotate(-135deg)
    &::after
      transform: rotate(90deg)
      top: -20px

  &__arrow:active
    .hospital__prev, .hospital__next
      background-color: #fff
      &::after
        background-color: #fff

@media (min-width: 992px)
  .hospital
    &__arrow:hover
      .hospital__prev, .hospital__next
        box-shadow: 0 0 20px 2px rgba(#fff, .4)
        &::after
          box-shadow: 0 0 20px 2px rgba(#fff, .4)


@media (max-width: 1200px)
  .hospital
    &-arrows
      width: 100%

@media (max-width: 992px)
  .hospital
    &-arrows
      display: none

    &__title
      font-size: 25px   

@media (max-width: 768px)
  .hospital
    &-container
      width: 500px
      height: 300px

    &__item
      width: 500px
      height: 300px

@media (max-width: 567px)
  .hospital
    &-container
      width: 300px
      height: 200px

    &__item
      width: 300px
      height: 200px


